<% content_for :page_title, "Sign In" %>

<div class="section">
    <div class="container">
    <div class="columns is-centered">
    
        <div class="column is-4">
        <%= form_with url: sign_in_path do |form| %>
            <div class="field">
                <div class="control">
                <%= form.label :username %>
                <%= form.text_field :username, class: "input", placeholder: "username" %>
                </div>
            </div>
            <div class="field">
                <div class="control">
                <%= form.label :password %>
                <%= form.password_field :password, class: "input", placeholder: "password" %>
                </div>
            </div>
            <div class="field">
                <div class="control">
                <%= form.submit "Sign In", class: "button is-success is-inverted is-rounded is-small" %>
                </div>
            </div>
            <div class="field">
                <%= button_to 'Log in with GitHub', 'sign_in/auth/github', method: :post, class: "button is-link is-light is-rounded is-small" %>
            </div>
        <% end %>
        </div>
    </div>
    </div>
</div>